<p class="question"><span class="question-text"><strong><%= item %></strong></span><br/><span>
                            <span class="text-left red"><strong>ZDECYDOWANIE NIE</strong></span>
                            
<input type='radio' name='test' class='grade1 onesevenscale'></input>
<input type='radio' name='test' class='grade2 onesevenscale'></input>
<input type='radio' name='test' class='grade3 onesevenscale'></input>
<input type='radio' name='test' class='grade4 onesevenscale'></input>
<input type='radio' name='test' class='grade5 onesevenscale'></input>
<input type='radio' name='test' class='grade6 onesevenscale'></input>
<input type='radio' name='test' class='grade7 onesevenscale'></input>
       <span class="text-right green"><strong>ZDECYDOWANIE TAK</strong></span></span></p>