<% provide(:title, 'Dziękujemy')%>

<section class="col-sm-12">
	<h2>Informacja końcowa</h2>
	<p>Prezentowany materiał został przygotowany w celu przeprowadzenia badania. Jeśli chciał(a)byś uzyskać więcej informacji na temat tego badania, możesz się ze mną skontaktować drogą mailową: agakomorowska@wp.pl</p>             
	<h4>Dziękuję za udział w badaniu!</h4>
</section>