/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


body {
	padding-top: 140px;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}

section {
	padding: 14px;
	border-top: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	background-color: rgba(221,251,75,0.75);
	margin-bottom: 140px;
}

.ankieta-inactive {
	opacity: 0.2;
}

.ankieta-inactive .task-text {
	opacity: 0;
}

.question {
	padding-left: 4em;
	border: 2px solid #bbbbbb;
}


.question-text {
	font-size: 1.2em;
}

.question span {
	padding-left: -2em;
}

.red {
	color: red;
}

.green {
	color: green;
}

/*
 * Radio buttons for 1-7 scales.
 * */
 

input[type=radio].onesevenscale {
  visibility: hidden;
  position: relative;

  //margin-left: 5px;
  width: 1.7em;
  height: 1.7em;
}

input[type=radio].onesevenscale:before {
  content: "";
  visibility: visible;
  position: absolute;
  
  color: #aaaaaa;
  font-weight: bold;

  border: 0.2em solid #aaaaaa;
  border-radius: 50%;
  
  padding-left: 0.42em;
  padding-top: 0.15em;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

input[type=radio].onesevenscale:hover:before {
  background-color: white;
  opacity: 0.1;
}

input[type=radio].onesevenscale:checked:before {
  background-color: rgba(0,0,0,0.1);
}

input[type=radio].grade1:before {
  content: "1";
}

input[type=radio].grade2:before {
  content: "2";
}

input[type=radio].grade3:before {
  content: "3";
}

input[type=radio].grade4:before {
  content: "4";
}

input[type=radio].grade5:before {
  content: "5";
}

input[type=radio].grade6:before {
  content: "6";
}

input[type=radio].grade7:before {
  content: "7";
}